html {
    margin: 0;
    background-color: #336699;
    font-family: Arial;
    color: #aaaaaa
}

#title {
    margin-top: 20px;
    text-align: center;
    color: #cccccc
}

#pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#places {
    width: 33%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#allbtns {
    width: 94%;
    display: block;
    margin: auto;
}

#loading {
    color: #cccccc;
    width: 50%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.desc {
    color: #ffaa99
}

.name {
    color: #99ccff
}

.neighborhood {
    color: #ff9900
}

.address {
    color: #33cc99
}