html, body {
	background-color: black;
	color: lightgoldenrodyellow;
	font-family: Quicksand;
	margin: 0;
	padding: 0;
}

#top {
	margin-top: 20px;
	text-align: center;
}

#pic {
	border: solid 1px;
	border-color: cornflowerblue;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

#creditfactual p {
	font-size: 10px;
	margin: 0 auto;
	text-align: right;
	width: 50%;
}

#locality {
	margin: 20px;
}

#localitylbl {
	color: mediumspringgreen;
	display: block;
	font-size: 20px;
	margin: 5px auto;
	text-align: center;
}

input[type=text] {
	background-color: black;
	border: 1px solid lightskyblue;
	border-radius: 4px;
	color: mediumspringgreen;
	display: block;
	font-family: Quicksand;
	font-size: 15px;
	margin: auto;
	outline: none;
	padding: 4px;
}

#allbtns {
	display: block;
	margin: auto;
	text-align: center;
	width: 100%;
}

.btn {
	background-color: black;
	border: solid 1px;
	border-color: cornflowerblue;
	border-radius: 3px;
	color: cornflowerblue;
	font-family: Quicksand;
	font-size: 15px;
	margin: 1px;
	outline: none;
}

.btn:hover {
	border-color: lightseagreen;
	color: lightseagreen;
}

.btnselected {
	border-color: mediumvioletred;
	color: mediumvioletred;
}

#main {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

#places {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

#loading {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 50%;
}

#error {
	color: mediumvioletred;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 100%;
}

.desc {
	color: lightsalmon;
}

.name {
	color: deepskyblue;
}

.neighborhood {
	color: violet;
}

.address {
	color: lightseagreen;
}